.Detailflow {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  height: 40px;
  padding-top: 10px;
}
.textflow {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #616161;
}
.Arrow {
  height: 40px;
  color: #616161;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.page {
  background: #d5d5d5;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Details {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #353535;
  text-align: start;
  padding-top: 30px;
  margin-left: 60px;
  margin-bottom: 10px;
}
.General {
  padding: 20px;
}
.Prov {
  background: #f5f5f5;
  border-radius: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin-left: 50px;
  width: 80%;
  height: 50px;
  padding-left: 15px;
  padding-right: 25px;
}
.Prov p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #353535;
  margin-left: 5px;
}
.Refer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
  padding: 5px;
  margin-left: 50px;
  margin-top: 1rem;
}
.Holder {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 5px;
  margin-left: 50px;
  width: 80%;
  height: 50px;
  padding-left: 15px;
  padding-right: 25px;
  /* margin-top: 1rem; */
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.Person {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #555555;
  margin-left: 10px;
}
.Penedit {
  background: #f5f5f5;
  border-radius: 30px;
  border: 0.6px;
  width: 70px;
  height: 30px;
  margin-left: 80px;
  align-items: center;
}
.Man {
  display: flex;
}
.addRef {
  background: #ffffff;
  border: 1px dashed #edd0d0;
  border-radius: 10px;
  padding: 5px;
  margin-left: 50px;
  width: 80%;
  height: 50px;
  padding-left: 15px;
  padding-right: 25px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #555555;
}
.Move {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 30px;
}
.Kin {
  background: #e60000;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  height: 40px;
  width: 150px;
  justify-content: center;
  border: none;
  margin-top: 10px;
  align-items: center;
}
.Back {
  background: #f5f5f5;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  color: #353535;
  display: flex-start;
  height: 40px;
  width: 150px;
  justify-content: center;
  border: none;
  margin-top: 10px;
  align-items: center;
  margin-right: 140px;
}
.Barrow {
  margin-left: 10px;
  text-decoration: none;
  color: #353535;
}
